@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700,500,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 160 90% 40%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 160 100% 47.1%;
    --radius: 0.5rem;

    /* Mapeando as cores da sidebar para o novo tema (light) */
    --sidebar-background: 240 4.8% 95.9%;
    --sidebar-foreground: 240 5.9% 10%;
    --sidebar-primary: 160 90% 40%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 100%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 240 5.9% 90%;
    --sidebar-ring: 160 100% 47.1%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 160 100% 47.1%;
    --primary-foreground: 160 100% 5%;
    --secondary: 240 4.8% 12.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 160 100% 47.1%;
    --accent-foreground: 160 100% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 20%;
    --input: 240 3.7% 20%;
    --ring: 160 100% 47.1%;

    /* Mapeando as cores da sidebar para o novo tema (dark) */
    --sidebar-background: 240 10% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 160 100% 47.1%;
    --sidebar-primary-foreground: 160 100% 5%;
    --sidebar-accent: 240 4.8% 12.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 20%;
    --sidebar-ring: 160 100% 47.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Satoshi', sans-serif;
  }
}